@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4" style="color:green">What's Your Ulam Pare?</h1>
    <p>Sample Website: Flex your delicious ulam recipies for everyone to enjoy!</p>
</div>
