@{
    ViewData["Title"] = "RA 10173 Data Privacy Act of 2012";
}
<div class="text-center" vertical-align="bottom">
    <h3>@ViewData["Title"]</h3>
    <p>By voluntarily submitting entries, the participant consents on collection of the following information.<br />
    All information mentioned in this website will be used within this demo only.</p>
</div>